/* nav style */
nav {
  display: flex;
  justify-content: space-between;
  margin: 0 150px;
  align-items: center;
}

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700; /* fixed */
  color: #4E47FF;
  font-size: 34px;
}

.button {
  background-color: #4E47FF;
  font-weight: bold;
  color: #FFFFFF;
  border-radius: 10px;
  padding: 12px 36px;
  border: none;
}

/* banner section */
.banner {
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-weight: 700; 
  font-style: normal;
  color: #252432;
  font-size: 65px;
  margin: 0;
  padding: 0;
  line-height: 1.2; 
}

.line2 {
  margin: 0;
  padding: 5px 0;
  line-height: 1.2;
}

.button2 {
  margin-top: 15px;
}

.header{
    background-image: url('../images/Hero-bg.png');
}
.description {
    font-weight: 500;  
    font-size: 24px;
    color: #777777;
    margin: 0;
    line-height: 1.4;  
    text-align: left;
     line-height: 1.4;
}

.title {
    font-size: 42px;
    font-weight: bold;  
    color: #252432;
    margin: 0;
    line-height: 1.2;
    text-align: left;
    line-height: 1.2;
}


.main{
    display:flex;
 margin: 100px auto;
  padding: 0 20px;
  max-width: 1200px;
  text-align: center;
  justify-content: space-between;
}
main section{
    text-align: left;
}
.img-main{
    border-radius: 48px;
}
.stats-section {
  margin: 116px 141px 141px;
  padding: 50px 120px;
  background-color: #f5f5f5;
  border-radius: 16px;
}

.stats-heading {
  font-size: 38px;
  color: #252432;
  text-align: center;   
  margin: 0 auto 40px;  
}


.user-row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.user-box {
  width: 180px;
  text-align: center;
}

.user-num {
  font-size: 80px;
  font-weight: bold;
  color: #4E47FF;  
  margin: 0;
}

.user-type {
  font-size: 20px;
  color: #333333;  
  margin-top: 10px;
}

/* fourtth-section */
/* testimonials.css */

.review-sec {
  margin: 137px 150px;
  text-align: center;
}

.sec-title {
  font-size: 38px;
  color: #252432;
  margin-bottom: 10px;
}

.line {
  width: 24px;
  height: 4px;
  background-color: #F75F9C;
  margin: 0 auto 40px;
  border-radius: 2px;
}

.card-box {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background-color: white;
  border-radius: 12px;
  padding: 24px;
  width: 300px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  text-align: left;
}

.stars img {
  width: 16px;
  height: 16px;
  margin-right: 2px;
}

.card-head {
  font-size: 18px;
  font-weight: bold;
  margin: 12px 0 8px;
  color: #252432;
}

.card-text {
  font-size: 14px;
  color: #555555;
  margin-bottom: 16px;
}

.user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.info {
  display: flex;
  flex-direction: column;
}

.name {
  font-size: 14px;
  color: #777;
}

.date {
  font-size: 12px;
  color: #aaa;
}


/* 5th section */

/* focus.css - Only for focus section */

.focus-sec {
  margin: 137px 150px 93px;
  text-align: center;
  background-color: white;
}

.focus-title {
  font-size: 50px;
  font-weight:516;
  color: #000000;
  margin-bottom: 20px;
}

.focus-sub {
  font-size: 16px;
  color: #777;
  margin-bottom: 20px;
}

.focus-btn {
  background-color: #4E47FF;
  color: white;
  padding: 12px 36px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  margin-bottom: 40px;
  cursor: pointer;
}

.focus-img {
  width: 100%;
  max-width: 100%;
  border-radius: 28px;
  margin: 0 auto;
  
}

/* contact  */
.contact{
  display: flex;
  justify-content: space-between;
  padding: 100px 150px;
  background-color: #D6DDED;
  gap: 60px;
   flex-wrap: nowrap;
}

.contact-left {
 width: 50%;

}

.contact-title {
  font-size: 97px;
  color: #000000;
  font-weight:bold;
  line-height: 1.2;
}

.contact-right {
  width: 50%;

}

.form {
  display: flex;
  flex-direction: column;
}

.form label {
  font-size: 18px;
  color: #000000;
  margin-bottom: 6px;
  margin-top: 16px;
}

.form input,
.form textarea {
  padding: 12px;
  font-size: 14px;
  border-radius: 10px;
  border: 1px solid #ccc;
  outline: none;
  resize: none;
  background-color: #FFFFFF;
}

.send-btn {
  margin-top: 24px;
  background-color: #4e47ff;
  color: white;
  padding: 14px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
}

/* footer */

footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 104px 450px;
}
.footer-title{
  font-size: 100px;
  font-weight: bolder;
  color:#4e47ff;
  margin-bottom: 10px;
}
.footer-description{
  font-size: 12px;
  color:#8987A1;
}

.footer-point{
  justify-content: space-around;
  text-decoration: none;
  font-size: 12px;
  color:#8987A1;
  

}
.footer-btn{
  display: flex;                 
  justify-content: space-around; 
  gap: 40px;                     
  margin-top: 10px;
}
