/* nav style */
nav {
  display: flex;
  justify-content: space-between;
  margin: 0 150px;
  align-items: center;
}

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700; /* fixed */
  color: #4E47FF;
  font-size: 34px;
}

.button {
  background-color: #4E47FF;
  font-weight: bold;
  color: #FFFFFF;
  border-radius: 10px;
  padding: 12px 36px;
  border: none;
}

/* banner section */
.banner {
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-weight: 700; /* fixed */
  font-style: normal;
  color: #252432;
  font-size: 65px;
  margin: 0;
  padding: 0;
  line-height: 1.2; /* fixed */
}

.line2 {
  margin: 0;
  padding: 5px 0;
  line-height: 1.2;
}

.button2 {
  margin-top: 15px;
}

.header{
    background-image: url('../images/Hero-bg.png');
}
.description {
    font-weight: 500;  /* or 400, 600, 700 — depends on the font you loaded */
    font-size: 24px;
    color: #777777;
    margin: 0;
    line-height: 1.4;  /* Adjusts vertical spacing */
    text-align: left;
     line-height: 1.4;
}

.title {
    font-size: 42px;
    font-weight: bold;  /* You can also use 700 instead */
    color: #252432;
    margin: 0;
    line-height: 1.2;
    text-align: left;
    line-height: 1.2;
}


.main{
    display:flex;
 margin: 100px auto;
  padding: 0 20px;
  max-width: 1200px;
  text-align: center;
  justify-content: space-between;
}
main section{
    text-align: left;
}
.img-main{
    border-radius: 48px;
}